
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Montserrat', serif;
}
.alert{
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}
#grid-container { 
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 5% 90% 5%;
}
#grid-nav{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #333;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
#grid-nav a {
    color: white;
    text-decoration: none;
    padding-left: 30px;
}
#about-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about-section h1 {
    font-size: 3rem;
}
#about-section p {
    font-size: 2rem;
}
#about-text{
    width: 80%;
    text-align: center;
}
#grid-nav a:hover{
    color: rgb(240, 142, 62);
    transition-duration: 0.4s;
    cursor: pointer;
}
.content { 
    height: 100%;
}
form {
    height: 100%;
}
#title-div{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#title-div h1{
    font-size: 3rem;
    color: rgb(93, 134, 83);
}
#title-div p{
    font-size: 2rem;
    color: rgb(240, 142, 62);
}
#grid-index{ 
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}
#food1-side{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-select-input{
    width: 100%;
    font-size: 170%;
    margin-bottom: 30%;
}
#food2-side{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-food-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#submit-div{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-button{
    background-color: #333;;
    color: rgb(224, 213, 213);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 30%;
    border-radius: 10px;
}
.submit-button:hover {
    background-color: rgb(240, 142, 62);
    color: white;
  }
#grid-comparison{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 25% 25% 5% 35% 10%;
}
#compare-title{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#compare-title h1{
    font-size: 3rem;
}
#compare-title p{
    font-size: 2rem;
}
#food1-box{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#food2-box{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-box {
    width: 80%;
    height: 10%;
    font-size: 1.2rem;
}
#food1-nutrients{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
}
#food2-nutrients{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
}
#compare-submit{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#compare-button{
    background-color: #333;;
    color: rgb(224, 213, 213);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#compare-button:hover {
    background-color: rgb(240, 142, 62);
    color: white;
  }

#nutritionfacts { 
    background-color:white; 
    border:1px solid black; 
    padding:3px; width:244px; 
}
#nutritionfacts td { 
    color:black; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
    font-size:8pt; 
    padding:0; 
}
#nutritionfacts td.header { 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
    font-size:28px; 
    white-space:nowrap; 
}        
#nutritionfacts div.label { 
    float:left; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
#nutritionfacts div.serving { 
    font-family:Arial,Helvetica,sans-serif; 
    font-size:8pt; 
    text-align:center; 
}
#nutritionfacts div.weight { 
    display:inline; 
    font-family:Arial,Helvetica,sans-serif; 
    padding-left:1px; 
}
#nutritionfacts div.dv { 
    display:inline; 
    float:right; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
#nutritionfacts table.vitamins td {  
    font-family:Arial,Helvetica,sans-serif; 
    white-space:nowrap; 
    width:33%; 
}
#nutritionfacts div.line { 
    border-top:1px solid black; 
}
#nutritionfacts div.labellight { 
    float:left; 
    font-family:Arial,Helvetica,sans-serif; 
}
#nutritionfacts .highlighted {
    border:1px dotted grey;
    padding:2px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #333;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    #grid-index{ 
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 30% 20% 20% 30%;
    }
    #title-div{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #food1-side{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #food2-side{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #submit-div{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
  }