{% extends 'base.html' %}

{% block content %}
    <div id = "about-section">
        <div id = "about-text">
            <h1>About</h1>
            <p>This website was built using Python, largely with the Flask framework. The site takes in 2 food inputs from the user, makes an API call for a list foods that match to the search query 
                (and their corresponding nutritional content) and returns the nutritional data to the user in the form of a familiar Nutrition Facts table normalized to 100g
                in order to encourage comparison :)</p>
        </div>
    </div>
{% endblock %}