{% extends 'base.html' %}

{% block content %}
    <form action="{{ url_for('comparison') }}" method="post">
        <div id = "grid-index">
            <div id = "title-div">
                <h1 id = "index-title">Apples or Oranges.</h1>
                <p class = "directions">Type in 2 foods that you would like to compare, then press the 'Submit' button.</p>
            </div>
            <div id = "food1-side">
                <div class = "select-food-div">
                    <input class = "food-select-input" type="text" name="food1" placeholder = "Type in a food..." value = "{{food1}}">
                </div>
            </div>
            <div id = "food2-side">
                <div class = "select-food-div">
                    <input class = "food-select-input" type="text" name="food2" placeholder = "Type in another food..." value = "{{food2}}">
                </div>
            </div>
            <div id = "submit-div">
                <input class = "submit-button" type="submit">
            </div>    
        </div>
    </form>
{% endblock %}